# Alignments' performance analysis

## Conversions to fasta

In [1]:
import pandas as pd

train = pd.read_csv('train.csv')
validation = pd.read_csv('validation.csv')

/tmp/ipykernel_8489/846710640.py:3: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv('final_data/train.csv')
/tmp/ipykernel_8489/846710640.py:4: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  validation = pd.read_csv('final_data/validation.csv')

In [2]:
pd.concat([train, validation]).to_csv('database.csv', index=False)

In [2]:
train.head()

,accession,name,sequence,EC,EC1,EC2,EC3,EC4,1,2,...,7.4.2.5,7.4.2.8,7.5.2.11,7.6.2.1,7.6.2.11,7.6.2.13,7.6.2.2,7.6.2.3,7.6.2.5,7.6.2.8
0,Q42881,1A13_SOLLC,MKLLSEKATCNSHGQDSSYFLGWQEYEKNPYDEIQNPKGIIQMGLA...,4.4.1.14,4,4.4,4.4.1,4.4.1.14,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Q37001,1A15_ARATH,MKQLSTKVTSNGHGQDSSYFLGWEEYEKNPYDEIKNPNGMIQMGLA...,4.4.1.14,4,4.4,4.4.1,4.4.1.14,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Q9STR4,1A17_ARATH,MGLPLMMERSSNNNNVELSRVAVSDTHGEDSPYFAGWKAYDENPYD...,4.4.1.14,4,4.4,4.4.1,4.4.1.14,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,P37821,1A1C_MALDO,MRMLSRNATFNSHGQDSSYFLGWQEYEKNPYHEVHNTNGIIQMGLA...,1.4.-.-;4.4.1.14,1;4,1.4;4.4,4.4.1,4.4.1.14,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,B2WGR9,3DHQ_PYRTR,MPPSILLLNGPNLNLLGTREPRIYGSTTLSSLLTTLIQKCKSLALP...,4.2.1.10,4,4.2,4.2.1,4.2.1.10,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
train.iloc[:, :3].to_csv('train_reduced.csv', index=False)

In [4]:
validation.iloc[:, :3].to_csv('validation_reduced.csv', index=False)

In [9]:
test = pd.read_csv('test.csv')
test.iloc[:, :3].to_csv('test_reduced.csv', index=False)

/tmp/ipykernel_6976/1041909268.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  test = pd.read_csv('final_data/test.csv')

In [4]:
import pandas as pd
train = pd.read_csv('train_reduced.csv')
validation = pd.read_csv('validation_reduced.csv')
pd.concat([train, validation]).to_csv('train_validation_reduced.csv', index=False)

In [6]:
from plants_sm.utilities.utils import convert_csv_to_fasta

convert_csv_to_fasta('train_validation_reduced.csv', 'sequence', 'accession', 'database.fasta')

In [10]:
convert_csv_to_fasta('test_reduced.csv', 'sequence', 'accession', 'test.fasta')

## Database creation

In [1]:
from plants_sm.alignments.alignment import Diamond

diamond = Diamond("train_database")

In [2]:
diamond.create_database('database.fasta')

diamond v2.0.14.152 (C) Max Planck Society for the Advancement of Science
Documentation, support and updates available at http://www.diamondsearch.org
Please cite: http://dx.doi.org/10.1038/s41592-021-01101-x Nature Methods (2021)

#CPU threads: 8
Scoring parameters: (Matrix=BLOSUM62 Lambda=0.267 K=0.041 Penalties=11/1)
Database input file: final_data/database.fasta
Opening the database file...  [0.013s]
Loading sequences...  [0.344s]
Masking sequences...  [0.686s]
Writing sequences...  [0.072s]
Hashing sequences...  [0.03s]
Loading sequences...  [0s]
Writing trailer...  [0.002s]
Closing the input file...  [0s]
Closing the database file...  [0.317s]

Database sequences  305245
  Database letters  128661459
     Database hash  f5ffa75268d75c3169b2320129276bc4
        Total time  1.466000s

In [4]:
diamond.run("test.fasta", "test_database.tsv", num_hits=1)

diamond v2.0.14.152 (C) Max Planck Society for the Advancement of Science
Documentation, support and updates available at http://www.diamondsearch.org
Please cite: http://dx.doi.org/10.1038/s41592-021-01101-x Nature Methods (2021)

#CPU threads: 8
Scoring parameters: (Matrix=BLOSUM62 Lambda=0.267 K=0.041 Penalties=11/1)
Temporary directory: final_data
#Target sequences to report alignments for: 1
Opening the database...  [0.049s]
Database: train_database.dmnd (type: Diamond database, sequences: 305245, letters: 128661459)
Block size = 2000000000
Opening the input file...  [0.01s]
Opening the output file...  [0s]
Loading query sequences...  [0.084s]
Masking queries...  [0.162s]
Algorithm: Double-indexed
Building query histograms...  [0.108s]
Allocating buffers...  [0s]
Loading reference sequences...  [0.13s]
Masking reference...  [0.682s]
Initializing temporary storage...  [0s]
Building reference histograms...  [0.5s]
Allocating buffers...  [0s]
Processing query block 1, reference block 1/1, shape 1/2, index chunk 1/4.
Building reference seed array...  [0.265s]
Building query seed array...  [0.048s]
Computing hash join...  [0.078s]
Masking low complexity seeds...  [0.028s]
Searching alignments...  [0.813s]
Processing query block 1, reference block 1/1, shape 1/2, index chunk 2/4.
Building reference seed array...  [0.256s]
Building query seed array...  [0.077s]
Computing hash join...  [0.074s]
Masking low complexity seeds...  [0.028s]
Searching alignments...  [0.624s]
Processing query block 1, reference block 1/1, shape 1/2, index chunk 3/4.
Building reference seed array...  [0.287s]
Building query seed array...  [0.077s]
Computing hash join...  [0.072s]
Masking low complexity seeds...  [0.028s]
Searching alignments...  [0.567s]
Processing query block 1, reference block 1/1, shape 1/2, index chunk 4/4.
Building reference seed array...  [0.211s]
Building query seed array...  [0.07s]
Computing hash join...  [0.076s]
Masking low complexity seeds...  [0.028s]
Searching alignments...  [0.544s]
Processing query block 1, reference block 1/1, shape 2/2, index chunk 1/4.
Building reference seed array...  [0.203s]
Building query seed array...  [0.062s]
Computing hash join...  [0.075s]
Masking low complexity seeds...  [0.028s]
Searching alignments...  [0.559s]
Processing query block 1, reference block 1/1, shape 2/2, index chunk 2/4.
Building reference seed array...  [0.275s]
Building query seed array...  [0.072s]
Computing hash join...  [0.075s]
Masking low complexity seeds...  [0.031s]
Searching alignments...  [0.522s]
Processing query block 1, reference block 1/1, shape 2/2, index chunk 3/4.
Building reference seed array...  [0.308s]
Building query seed array...  [0.09s]
Computing hash join...  [0.075s]
Masking low complexity seeds...  [0.03s]
Searching alignments...  [0.521s]
Processing query block 1, reference block 1/1, shape 2/2, index chunk 4/4.
Building reference seed array...  [0.21s]
Building query seed array...  [0.067s]
Computing hash join...  [0.074s]
Masking low complexity seeds...  [0.031s]
Searching alignments...  [0.483s]
Deallocating buffers...  [0.011s]
Clearing query masking...  [0.002s]
Computing alignments...  [26.392s]
Deallocating reference...  [0.006s]
Loading reference sequences...  [0s]
Deallocating buffers...  [0.003s]
Deallocating queries...  [0.001s]
Loading query sequences...  [0s]
Closing the input file...  [0s]
Closing the output file...  [0.001s]
Cleaning up...  [0s]
Total time = 36.26s
Reported 74479 pairwise alignments, 74479 HSPs.
74479 queries aligned.

In [8]:
import pandas as pd

diamond.results = pd.read_csv('test_database.tsv', sep='\t')

In [9]:
database = pd.read_csv('database.csv')

/tmp/ipykernel_14483/1193019597.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  database = pd.read_csv('final_data/database.csv')

In [10]:
diamond.associate_to_ec(database, "test_diamond_predictions.csv")

/home/bisbii/Desktop/PHD/PlantsSM/src/plants_sm/alignments/alignment.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  database_reduced.drop(columns=["sequence"], inplace=True)

## Alignments' performance analysis

In [6]:
import pandas as pd
test = pd.read_csv('test.csv')
test.shape

/tmp/ipykernel_16170/813555571.py:2: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  test = pd.read_csv('final_data/test.csv')

(75566, 2779)

In [7]:
predictions = pd.read_csv("test_diamond_predictions.csv")
predictions.shape

/tmp/ipykernel_16170/2187938569.py:1: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  predictions = pd.read_csv("final_data/test_diamond_predictions.csv")

(74350, 2788)

In [9]:
predictions.columns

Index(['qseqid', 'accession', 'pident', 'length', 'mismatch', 'gapopen',
       'qstart', 'qend', 'sstart', 'evalue',
       ...
       '7.4.2.5', '7.4.2.8', '7.5.2.11', '7.6.2.1', '7.6.2.11', '7.6.2.13',
       '7.6.2.2', '7.6.2.3', '7.6.2.5', '7.6.2.8'],
      dtype='object', length=2788)

In [10]:
predictions.drop(columns=['accession', 'pident', 'length', 'mismatch', 'gapopen',
       'qstart', 'qend', 'sstart', 'evalue', 'bitscore', 'name'], inplace=True)

In [24]:
predictions.columns

Index(['qseqid', 'EC', 'EC1', 'EC2', 'EC3', 'EC4', '1', '2', '3', '4',
       ...
       '7.4.2.5', '7.4.2.8', '7.5.2.11', '7.6.2.1', '7.6.2.11', '7.6.2.13',
       '7.6.2.2', '7.6.2.3', '7.6.2.5', '7.6.2.8'],
      dtype='object', length=2777)

In [18]:
not_in_predictions = test[~test.loc[:, "accession"].isin(predictions.loc[:, "qseqid"])]
not_in_predictions.head()

,accession,name,sequence,EC,EC1,EC2,EC3,EC4,1,2,...,7.4.2.5,7.4.2.8,7.5.2.11,7.6.2.1,7.6.2.11,7.6.2.13,7.6.2.2,7.6.2.3,7.6.2.5,7.6.2.8
129,P83855,ACLP_MOUSE,GVYMEIGRCRXEAXRRRKEAV,4.6.1.1,4,4.6,4.6.1,4.6.1.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
246,P82955,AHPF_ACICA,MLDQNIXTQLXAYLER,1.8.1.-,1,1.8,1.8.1,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
253,B7LM79,AIS_ESCF3,MKLKKHVAVLLISFLCLIGLVTQHAWSSNGLPRIDNKTLAKLSLQH...,3.1.3.-,3,3.1,3.1.3,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
255,Q8Z543,AIS_SALTI,MLAFTLRFIKNKRYFAILAGALVIIAGLASQHAWSGNGLPQINGKA...,3.1.3.-,3,3.1,3.1.3,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
348,A1DN11,ANAAT_NEOFI,MTVTISFEPYVGSSVDALSIPLYLRCQLVFKLSKPLAAVPLLESGV...,2.3.1.-,2,2.3,2.3.1,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
not_in_predictions.iloc[:, 8:] = 0.0

/tmp/ipykernel_16170/447101761.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_in_predictions.iloc[:, 8:] = 0.0
/tmp/ipykernel_16170/447101761.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  not_in_predictions.iloc[:, 8:] = 0.0

In [26]:
not_in_predictions.drop(["sequence", "name"], axis=1, inplace=True)

/tmp/ipykernel_16170/1960768530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_in_predictions.drop(["sequence", "name"], axis=1, inplace=True)

Index(['accession', 'EC', 'EC1', 'EC2', 'EC3', 'EC4', '1', '2', '3', '4',
       ...
       '7.4.2.5', '7.4.2.8', '7.5.2.11', '7.6.2.1', '7.6.2.11', '7.6.2.13',
       '7.6.2.2', '7.6.2.3', '7.6.2.5', '7.6.2.8'],
      dtype='object', length=2777)

In [27]:
not_in_predictions.columns = predictions.columns

In [28]:
predictions = pd.concat([predictions, not_in_predictions])

In [30]:
predictions.shape

(75566, 2777)

In [32]:
predictions.columns

Index(['qseqid', 'EC', 'EC1', 'EC2', 'EC3', 'EC4', '1', '2', '3', '4',
       ...
       '7.4.2.5', '7.4.2.8', '7.5.2.11', '7.6.2.1', '7.6.2.11', '7.6.2.13',
       '7.6.2.2', '7.6.2.3', '7.6.2.5', '7.6.2.8'],
      dtype='object', length=2777)

In [33]:
predictions.sort_values(by=['qseqid'], inplace=True)

In [34]:
test.sort_values(by=['accession'], inplace=True)

In [42]:
predictions.loc[:, "qseqid"].tolist() == test.loc[:, "accession"].tolist()

True

In [45]:
predictions.to_csv("test_diamond_predictions_right_format.csv", index=False)
test.to_csv("test_right_format.csv", index=False)

In [1]:
import pandas as pd

predictions = pd.read_csv("test_diamond_predictions_right_format.csv")
test = pd.read_csv("test_right_format.csv")

/tmp/ipykernel_20501/246709705.py:3: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  predictions = pd.read_csv("final_data/test_diamond_predictions_right_format.csv")
/tmp/ipykernel_20501/246709705.py:4: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  test = pd.read_csv("final_data/test_right_format.csv")

In [5]:
predictions.columns

,qseqid,EC,EC1,EC2,EC3,EC4,1,2,3,4,...,7.4.2.5,7.4.2.8,7.5.2.11,7.6.2.1,7.6.2.11,7.6.2.13,7.6.2.2,7.6.2.3,7.6.2.5,7.6.2.8
0,A0A009IHW8,3.2.2.6,3,3.2,3.2.2,3.2.2.6,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A0A009YU83,2.3.3.5,2,2.3,2.3.3,2.3.3.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A0A010ZGY3,3.7.1.12,3,3.7,3.7.1,3.7.1.12,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,A0A011MZP2,2.6.1.50,2,2.6,2.6.1,2.6.1.50,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A0A011N9Z1,7.4.2.5,7,7.4,7.4.2,7.4.2.5,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
swiss_prot = pd.read_csv("swiss_prot_ec_filtered.csv")

In [17]:
predictions_swiss_prot = predictions[predictions.loc[:, "qseqid"].isin(swiss_prot.loc[:, "accession"])]

In [19]:
test_swiss_prot = test[test.loc[:, "accession"].isin(swiss_prot.loc[:, "accession"])]

In [18]:
predictions_swiss_prot.loc[:, "qseqid"]

0        A0A009IHW8
19       A0A011QK89
37       A0A017SEY2
38       A0A017SP50
63       A0A023I7E1
            ...
75505        W8JWV8
75506        W8JWW7
75532        X1WBB5
75533        X2EVV9
75535        X2JE85
Name: qseqid, Length: 53167, dtype: object

In [4]:
predictions.iloc[:, 6:].head()

,1,2,3,4,5,6,7,1.1,1.10,1.11,...,7.4.2.5,7.4.2.8,7.5.2.11,7.6.2.1,7.6.2.11,7.6.2.13,7.6.2.2,7.6.2.3,7.6.2.5,7.6.2.8
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
zero_columns = test_swiss_prot.iloc[:, 8:].columns[(test_swiss_prot.iloc[:, 8:] == 0).all()]
columns = list(test_swiss_prot.iloc[:, 8:].columns)
for column in zero_columns: 
       columns.remove(column)
test_swiss_prot_reduced = test_swiss_prot.iloc[:, 8:].loc[:, columns]
predictions_swiss_prot_reduced = predictions_swiss_prot.iloc[:, 6:].loc[:, columns]

In [42]:
predictions_swiss_prot_reduced.head()

,1,2,3,4,5,6,7,1.1,1.10,1.11,...,7.4.2.5,7.4.2.8,7.5.2.11,7.6.2.1,7.6.2.11,7.6.2.13,7.6.2.2,7.6.2.3,7.6.2.5,7.6.2.8
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Metrics

In [43]:
from sklearn.metrics import f1_score

f1_score(test_swiss_prot_reduced, predictions_swiss_prot_reduced, average='macro')

0.890312622277862

In [49]:
from sklearn.metrics import precision_score

precision_score(test_swiss_prot_reduced, predictions_swiss_prot_reduced, average='macro', zero_division=1)

0.89561363360713

In [45]:
from sklearn.metrics import recall_score

recall_score(test_swiss_prot_reduced, predictions_swiss_prot_reduced, average='macro')

0.9229834225920303

In [46]:
from sklearn.metrics import f1_score

f1_score(test_swiss_prot.iloc[:, 8:], predictions_swiss_prot.iloc[:, 6:], average='macro', zero_division=1)

0.8710235498980502

In [47]:
from sklearn.metrics import precision_score

precision_score(test.iloc[:, 8:], predictions.iloc[:, 6:], average='macro', zero_division=1)

0.9118352683540634

In [48]:
from sklearn.metrics import recall_score

recall_score(test.iloc[:, 8:], predictions.iloc[:, 6:], average='macro', zero_division=1)

0.897572823045061